@import "tailwindcss";


body {
  font-family: var(--font-poppins);
}

@layer utilities {
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 999px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  * {
    scrollbar-width: auto;
  }
}

@keyframes callBounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

@keyframes callPulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.15);
    opacity: 0.7;
  }
}

.animate-callBounce {
  animation: callBounce 1.8s ease-in-out infinite;
}

.animate-callPulse {
  animation: callPulse 1.8s ease-in-out infinite;
}

/* Fade Up Animation */
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 1s ease-out forwards;
}


/* Slow Zoom Background */
@keyframes slowZoom {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.1);
  }
}

.animate-slowZoom {
  animation: slowZoom 0s ease-in-out infinite alternate;
}